.container {
  position: relative;
  width: 391px;
  border-radius: 25px;
  padding: 10px 10px 10px 50px;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0px 13px 23.5px 0px #00000026;
}
.title {
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(-90deg) translate(-450px, -41px);
  transform-origin: top left;
  font-family: var(--font-actay);
  font-weight: bold;
  font-size: 80px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: -10px 0px 19.8px rgba(0, 0, 0, 0.2);
}
.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
