@import "tailwindcss";
@import "overlayscrollbars/overlayscrollbars.css";

@theme {
  --font-sans: var(--font-pt-root);
  --font-actay: var(--font-actay);
  --font-mono: var(--font-geist-mono);

  /* Custom Color Palette based on provided design */

  /* Row 1: Gold / Beige Tones */
  --color-gold-900: #bf9038; /* Darkest Gold */
  --color-gold-700: #ccaa72;
  --color-gold-500: #d6be99; /* Mid Gold */
  --color-gold-300: #e5d6c0;
  --color-gold-100: #f2eadd; /* Lightest Beige */

  /* Row 2: Monochrome / Grey Tones */
  --color-brand-black: #1a1a1a; /* Darkest */
  --color-brand-grey-dark: #2e2e2e;
  --color-brand-grey: #808080; /* Mid Grey */
  --color-brand-grey-light: #d6d6d6;
  --color-brand-white: #ffffff; /* Lightest */

  /* Row 3: Red / Burgundy Tones */
  --color-red-900: #4f1515; /* Darkest Burgundy */
  --color-red-700: #751f1f;
  --color-red-500: #a12b2b; /* Mid Red */
  --color-red-300: #cc6060;
  --color-red-100: #e8a8a8; /* Lightest Pink */
}

* {
  box-sizing: border-box;
}

html {
  background: #000000;
}

body {
  width: 1920px;
  height: 1080px;
  margin: auto;
  overflow: hidden;

  background: url("/images/background.png") center / contain no-repeat;

  font-family: var(--font-pt-root), sans-serif;
}

.bg-info-page {
  background: url("/images/backgroundInfo.png") center / cover no-repeat;
}

/* scrollbar */
/* *:has(.os-scrollbar) {
  padding-left: 209px;
  padding-bottom: 153px;
} */

.os-scrollbar {
  bottom: 50px;

  margin: auto;
  width: 736px;
  height: 36px;
  padding: 8px;
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 13px 23.5px 0px rgba(0, 0, 0, 0.15);

  backdrop-filter: blur(2px);
}

.os-scrollbar-track,
.os-scrollbar-track:hover {
  background: rgba(157, 157, 157, 0.54);
  border-radius: 10px;
}

.os-scrollbar-handle,
.os-scrollbar-handle:hover {
  background: rgba(239, 172, 117, 0.68);

  border: 1px solid;
  border-image-source: linear-gradient(
    269.53deg,
    rgba(255, 255, 255, 0.9) 6.2%,
    rgba(85, 85, 85, 0.9) 93.8%
  );

  box-shadow: -1px 4px 6.6px 0px rgba(218, 193, 156, 1);
  box-shadow: 2px -2px 0px 1px rgba(255, 239, 187, 1) inset;
  box-shadow: 1px -1px 1px 1px rgba(234, 201, 145, 1) inset;
}
/* scrollbar */
