.header {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 41px;
  left: 53px;
  width: 1815px;
  height: 118px;
}
.leftBlock {
  display: flex;
  gap: 35px;
  align-items: center;
}
.logo {
  filter: drop-shadow(0px 10px 14.9px rgba(0, 0, 0, 0.25));
}
.title {
  background: #ffffff80;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 100px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 25px;
  font-family: var(--font-actay);
  font-weight: bold;
  font-size: 28px;
  color: #8b8b8b;
  line-height: 120%;
  box-shadow: 0px 13px 23.5px 0px #00000026;
  backdrop-filter: blur(4px);
  text-shadow: 0px 0px 23.2px #0000001a;
  display: flex;
  align-items: center;
  letter-spacing: normal;
}
