.toggle {
  display: flex;
  width: 213px;
  height: 62px;
  padding: 8px 8px 10px 10px;
  background: #9d9d9d4d;
  border-radius: 9999px;
  align-items: center;
  justify-content: space-between;
  font-family: var(--font-actay);
  font-weight: bold;
  font-size: 18px;
  border: 1px solid transparent;
  box-shadow: 1px -1px 0px 2px #ffffff63 inset;
  backdrop-filter: blur(2px);
}
.active {
  flex: 1;
  height: 100%;
  border-radius: 9999px;
  line-height: 45px;
  transition:
    background 0.2s,
    color 0.2s;
  background: #ffffff99;
  color: #737373;
  box-shadow: 2px -2px 0px 1px #ffffff80 inset;
}
.inactive {
  flex: 1;
  height: 100%;
  border-radius: 9999px;
  line-height: 45px;
  transition:
    background 0.2s,
    color 0.2s;
  color: #fff;
  background: transparent;
}
