.link {
  display: block;
}
.button {
  display: flex;
  gap: 30px;
  align-items: center;
  height: 100px;
  padding: 15px;
  border-radius: 25px;
  background: #8585854d;
  border: 1px solid #d5d5d5;
  box-shadow: 0px 20px 26.1px 0px #00000040;
  backdrop-filter: blur(2px);
}
.label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 15px;
  font-family: var(--font-actay);
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.4px;
  white-space: pre-line;
  text-align: left;
  background: radial-gradient(
    69.31% 57.53% at 30.69% 60.4%,
    rgba(210, 147, 88, 0.68) 49.32%,
    rgba(237, 181, 135, 0.68) 100%
  );
  border: 1px solid #fff;
  box-shadow:
    -1px 4px 6.6px 0px #ffefbb,
    1px -2px 1px 2px #eac991 inset,
    2px -3px 0px 2px #ffefbb inset;
  text-shadow: 0px 0px 23.2px #0000001a;
}
.icon {
  filter: drop-shadow(0px 0px 14.9px rgba(0, 0, 0, 0.25));
}
