.main {
  padding-left: 53px;
  padding-bottom: 51px;
}
.statsRow {
  position: absolute;
  left: 53px;
  bottom: 51px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 1685px;
  height: 212px;
}
